body {
    width: 100%;
    height: auto;
    background-color: #2b3035;
}
.img-card-home {
    margin-top: 20%;
}
.card-home{
    margin-top: 5%;
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/imgHome.svg');
    background-size: 100%;
    background-repeat: repeat-y;
    border-radius: 20px;
}
.content-home{
    height: 80vh;
    display: flex;
    justify-content: center;
}
.text-card-home{
    font-weight: bold; 
    color: #027500;
    font-size: 20px;   
}