* {
    margin: 0;
    padding: 0;
}

.body-home {
    width: 100%;
    height: fit-content;
    background-color: #474747;
    font-family: 'poppins';
    padding: 0 100px 0 100px;
}

body::-webkit-scrollbar {
    display: none;
}


.card-home {
    height: 100vh;
    width: auto;
}

.card-home-cards {
    height: 60vh;
    width: 90vw;
}

.card-home-img-background {
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.card-home-img-background img {
    object-fit: cover;
    width: 100%;
    height: 700px;
    border-radius: 20px;
    filter: brightness(0.5);
}

.text-banner {
    color: #ffffff;
    width: 80%;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 150px;
    font-family: 'poppins', sans-serif;
    font-style: italic;
}

.txt {
    width: fit-content;
    height: fit-content;
}

a {
    color: #A8FE75;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #027500;
}

/* Inicio da section dos cards*/
.card-home-two {
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    font-style: italic;
    margin: 0 0 0 0;
    height: 50%;
    width: auto;

}

.container-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30vh;
    margin: 5% 0;
}

.cards {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #027500;
}

.cards:hover {
    box-shadow: 0 0 20px #fff;
}

.icon-cards {
    width: 150px;
    height: 150px;
    margin-bottom: 10%;
    color: #FFFFFF;
}

/* Fim da section dos cards*/
.container-top {
    width: 100%;
    height: 60vh;
    background-color: #ffffff30;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    border-radius: 20px;
}

.container-top-valores {
    width: 100%;
    height: 60vh;
    background-color: #ffffff30;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    border-radius: 20px;
}

.icon-missao {
    width: 15%;
    height: 15%;
    margin-top: -35%;
    margin-left: 10%;
    color: #027500;
}

.text-missao {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    text-align: left;
    width: 60%;
    height: 100%;
    padding-right: 2%;
}

.text-missao:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    padding-bottom: 10%;
}

.text-missao:first-child {
    color: #A8FE75;
}

.text-valores {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    text-align: left;
    width: 60%;
    height: 100%;
    padding-right: 2%;
}

.text-valores:first-child {
    color: #A8FE75;
}

.text-valores:last-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 60%;
    padding-bottom: 4%;
}

/*Inicio Footer*/

.footer-home {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    background-color: #027500;
    border-radius: 50px 50px 0 0;
}

.form-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.icon-contact {
    height: 100%;
    width: 100%;
    margin: 0 10px 30px 10px;
    color: #FFF;
    cursor: pointer;
}

.icon-contact:hover {
    color: #04ff00;
}

ul {
    list-style: none;
}

.example-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-1 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-1 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-1 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-1 .icon-content .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #00000027;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}

.card {
    position: relative;
    width: 21vw;
    height: 30vh;
    background-color: #027500;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #FFF;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #FFF;
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #027500;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 28px;
    color: #FFF;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 18px;
    color: #FFF;
    line-height: 1.4;
}



@media (max-width: 480px) {

    /* celular */
    .body-home {
        width: 100%;
        height: fit-content;
        background-color: #474747;
        font-family: 'poppins';
        padding: 0 10px 0 10px;
    }

    .text-banner {
        color: #ffffff;
        width: 10%;
        font-size: 0.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        left: 15px;
        font-family: 'poppins', sans-serif;
        font-style: italic;
        line-height: 8px;
        max-width: none;
    }

    .txt {
        width: 90px;
        height: 60px;
        min-width: 450px;
    }

    .card-home {
        height: 100vh;
    }

    .card-home-cards {
        height: 100vh;
        width: 90vw;
    }

    .container-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: auto;
        height: 70vh;
        margin: 2% 20%;
    }

    .card {
        position: relative;
        width: 50vw;
        height: 20vh;
        background-color: #027500;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        box-shadow: 0 0 0 5px #FFF;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .card__title {
        margin: 0;
        font-size: 0.9rem;
        color: #FFF;
        font-weight: 700;
    }

    .card__description {
        margin: 10px 0 0;
        font-size: 0.7rem;
        color: #FFF;
        line-height: 1.4;
    }

    .icon-missao {
        display: none;
    }

    .container-top {
        width: 100%;
        height: 40vh;
        background-color: #ffffff30;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .container-top-valores {
        width: 100%;
        height: 60vh;
        background-color: #ffffff30;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .text-missao {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        text-align: left;
        width: 100%;
        height: 100%;
        padding-left: 10%;
        font-size: 0.9rem;
    }

    .text-missao:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding-bottom: 20%;
        padding-left: 10%;
        font-size: 0.9rem;
    }

    .text-missao:first-child {
        color: #A8FE75;
    }

    .text-valores {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        text-align: left;
        width: 100%;
        height: 100%;
        gap: 5px;
        padding-left: 10%;
        font-size: 0.9rem;
    }

    .text-valores:first-child {
        color: #A8FE75;
    }

    .text-valores:last-child {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;
        padding-bottom: 20%;
        padding-left: 10%;
        font-size: 0.9rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    /* tablet */
    .body-home {
        width: 100%;
        height: fit-content;
        background-color: #474747;
        font-family: 'poppins';
        padding: 0 35px 0 35px;
    }

    .text-banner {
        color: #ffffff;
        width: 10%;
        font-size: 0.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        left: 50px;
        font-family: 'poppins', sans-serif;
        font-style: italic;
        line-height: 10px;
        max-width: none;
    }

    .txt {
        width: auto;
        height: 70px;
        min-width: 450px;
    }

    .card-home {
        height: 100vh;
    }

    .card-home-cards {
        height: 100vh;
        width: 90vw;
    }

    .container-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: auto;
        height: 70vh;
        margin: 2% 20%;
    }

    .card {
        position: relative;
        width: 50vw;
        height: 15vh;
        background-color: #027500;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        perspective: 1000px;
        box-shadow: 0 0 0 5px #FFF;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .card__title {
        margin: 0;
        font-size: 0.9rem;
        color: #FFF;
        font-weight: 700;
    }

    .card__description {
        margin: 10px 0 0;
        font-size: 0.7rem;
        color: #FFF;
        line-height: 1.4;
    }

    .icon-missao {
        display: none;
    }

    .container-top {
        width: 100%;
        height: 40vh;
        background-color: #ffffff30;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .container-top-valores {
        width: 100%;
        height: 60vh;
        background-color: #ffffff30;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .text-missao {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        text-align: left;
        width: 100%;
        height: 100%;
        padding-left: 10%;
        font-size: 0.9rem;
    }

    .text-missao:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding-bottom: 20%;
        padding-left: 10%;
        font-size: 0.9rem;
    }

    .text-missao:first-child {
        color: #A8FE75;
    }

    .text-valores {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        text-align: left;
        gap: 5px;
        width: 100%;
        height: 100%;
        padding-left: 10%;
        font-size: 0.9rem;
    }

    .text-valores:first-child {
        color: #A8FE75;
    }

    .text-valores:last-child {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;
        padding-bottom: 20%;
        padding-left: 10%;
        font-size: 0.9rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    /* laptop */
    .body-home {
        width: 100%;
        height: fit-content;
        background-color: #474747;
        font-family: 'poppins';
        padding: 0 50px 0 50px;
    }

    .text-banner {
        color: #ffffff;
        width: 80%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        left: 70px;
        font-family: 'poppins', sans-serif;
        font-style: italic;
        line-height: 10px;
        max-width: none;
    }

    .txt {
        width: auto;
        height: 70px;
        min-width: 100%;
    }

    .card-home {
        height: 100vh;
    }

    .card-home-cards {
        height: 100vh;
        width: 90vw;
    }

    .container-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: auto;
        height: 70vh;
        margin: 2% 20%;
    }

    .card {
        position: relative;
        width: 40vw;
        height: 20vh;
        background-color: #027500;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        perspective: 1000px;
        box-shadow: 0 0 0 5px #FFF;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .card__title {
        margin: 0;
        font-size: 0.9rem;
        color: #FFF;
        font-weight: 700;
    }

    .card__description {
        margin: 10px 0 0;
        font-size: 0.7rem;
        color: #FFF;
        line-height: 1.4;
    }

    .icon-missao {
        display: none;
    }

    .container-top {
        width: 100%;
        height: 30vh;
        background-color: #ffffff30;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .container-top-valores {
        width: 100%;
        height: 30vh;
        background-color: #ffffff30;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .text-missao {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        text-align: left;
        width: 100%;
        height: 100%;
        padding-left: 10%;
        font-size: 0.9rem;
    }

    .text-missao:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding-bottom: 10%;
        padding-left: 10%;
        font-size: 0.9rem;
    }

    .text-missao:first-child {
        color: #A8FE75;
    }

    .text-valores {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        text-align: left;
        width: 100%;
        height: 100%;
        padding-left: 10%;
        font-size: 0.9rem;
    }

    .text-valores:first-child {
        color: #A8FE75;
    }

    .text-valores:last-child {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;
        padding-bottom: 2%;
        padding-left: 10%;
        font-size: 0.9rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    /* telas grandes */
    .body-home {
        width: 100%;
        height: fit-content;
        background-color: #474747;
        font-family: 'poppins';
        padding: 0 50px 0 50px;
    }

    .text-banner {
        color: #ffffff;
        width: 80%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        left: 70px;
        font-family: 'poppins', sans-serif;
        font-style: italic;
        line-height: 10px;
        max-width: none;
    }

    .txt {
        width: auto;
        height: 70px;
        min-width: 100%;
    }

    .card-home {
        height: 100vh;
    }

    .card-home-cards {
        height: 100vh;
        width: 90vw;
    }

    .container-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: auto;
        height: 90vh;
        margin: 2% 25%;
    }

    .card {
        position: relative;
        width: 50vw;
        height: 25vh;
        background-color: #027500;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        perspective: 1000px;
        box-shadow: 0 0 0 5px #FFF;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .card__title {
        margin: 0;
        font-size: 1.5rem;
        color: #FFF;
        font-weight: 700;
    }

    .card__description {
        margin: 10px 0 0;
        font-size: 1.2rem;
        color: #FFF;
        line-height: 1.4;
    }

    .icon-missao {
        width: 15%;
        height: 15%;
        margin-top: -75%;
        margin-left: 42%;
        color: #027500;
    }

    .container-top {
        width: 100%;
        height: 60vh;
        background-color: #ffffff30;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .container-top-valores {
        width: 100%;
        height: 60vh;
        background-color: #ffffff30;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .text-missao {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: left;
        width: 100%;
        height: 30%;
        font-size: 2rem;
    }

    .text-missao:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        padding-bottom: 10%;
        font-size: 0.9rem;
    }

    .text-missao:first-child {
        color: #A8FE75;
    }

    .text-valores {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        text-align: left;
        width: 100%;
        height: 40%;
        font-size: 2rem;
    }

    .text-valores:first-child {
        color: #A8FE75;
    }

    .text-valores:last-child {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-left: 10%;
        font-size: 0.9rem;
    }
}