.modal-container-background{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    backdrop-filter: blur(2px);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
}
.cancel-modal{
    position: fixed;
    inset: 22% 73% ;
}
.cancel-modal-icon{
    width: 20px;
    height: auto;
    cursor: pointer;
}
.cancel-modal-icon:hover{
    width: 20px;
    height: auto;
    color: crimson;
}
.modal-container{
    width: 50%;
    height: 60%;
    border-radius: 20px;
    padding: 50px;
    background: linear-gradient(180deg, #19A6A5, #A8FE75) no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal-tittle{
    font-weight: 600;
    color: #000000;
    font-size: 1.5rem;
}
.modal-tittle-story{
    font-weight: 600;
    color: #000000;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.modal-description-story{
    font-weight: 600;
    color: #000000;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.text-tittle{
    border-radius: 10px;
    border: 1px solid #000000;
    outline: none;
    padding: 10px;
    height: 7vh;
    font-size: 1.0rem;
}
.text-tittle::-webkit-scrollbar{
    display: none;
}
.text{
    border-radius: 10px;
    border: 1px solid #000000;
    outline: none;
    padding: 10px;
    height: 20vh;
    font-size: 1.0rem;
}
.text::-webkit-scrollbar{
    display: none;
}
.modal-button-story{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-story{
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    height: 40px;
    width: 40%;
    margin-top: 5px;
    background-color: #009501;
    color: #ffffff;
}
.btn-story:hover{
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    height: 40px;
    width: 40%;
    background-color: #009501;
    box-shadow: 0 0 20px black;
}

.input-div-img-input {
  cursor: pointer;
}
.input-div-img {
    position: relative;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    color: #FFFFFF;
    border: 2px solid#FFFFFF;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: flicker 2s linear infinite;
  }
  
  .icon-modal {
    color: rgb(1, 252, 76);
    font-size: 2rem;
    cursor: pointer;
    animation: iconflicker 2s linear infinite;
  }
  
  .input-img {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
/* Loader do modal */

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid rgba(0, 102, 255, 0.1);
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #009501;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #009501;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  }
  
  .loader::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #009501;
    border-right: 3px solid #009501;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }
  
  .loader span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
  }
  
  .loader span::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #009501;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px 5px #009501;
  }
  
  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
  
    100% {
      transform: rotate(405deg);
    }
  }