.tittle-profile{
    display: flex;
    justify-content: center;
    margin: 3%;
    font-family: 'poppins';
    font-weight: 900;
    font-size: larger;
}

.container-data-user{
    height: fit-content;
    padding: 2%;
}
.input-alter-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.input-text{
    width: 90%;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px;
    color: #ffffff;
}
.input-text::placeholder{
    color: #ffffff;
}
.container-btn-save{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: fit-content;
    margin-left: 50%;
}
.icon-profile{
    z-index: 1;
    width: 20px;
    height: auto;
    margin-right: 20px;
    cursor: pointer;
}
.icon-profile:hover{
    z-index: 1;
    width: 20px;
    height: auto;
    margin-right: 20px;
    cursor: pointer;
    color: #009501;
}
.label-info-user{
    padding-left: 10px;
    font-weight: 700;
    margin-top: 10px;
    color: #ffffff;
}