.logo-home{
    color: #027500 !important;
}
.content-navbar{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'poppins';
}

.details-img{
    width: 20%;
    height: auto;
}
.buttons-menu{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.button-cadastro{
    border-radius: 20px;
    border: none;
    width: 40%;
}
.button-entrar{
    border-radius: 20px;
    border: none;
    width: 40%;
}
.button-cadastro:hover{
    border-radius: 20px;
    border: none;
    box-shadow: 1px 0px 10px;
    width: 40%;
}
.button-entrar:hover{
    border-radius: 20px;
    border: none;
    box-shadow: 1px 0px 10px;
    width: 40%;
}